extends layouts/default
block content

	section#como
		.container
			.display-title
				h1
					| nuestro
					span MÉTODO.
			.display-paragraph
				p
					| Promediamos nuestros conocimientos con tus necesidades,
					br
					|           para obtener como resultado soluciones unicas, eficientes y creativas.
					br
					br
					|           Si a nuestros clientes les va bien, a nosotros también.
			button.btn.btn-white 
				a(href='https://somosindice.tumblr.com/.html' target="_blank") CONÓCENOS +