extends layouts/default
block content
	section#contacto
		div.contact-box
			div.main-logo
				svg#Capa_1(version='1.1', x='0px', y='0px', viewbox='0 0 67.1 129.5', style='enable-background:new 0 0 67.1 129.5;', xml:space='preserve')
					style(type='text/css').
						.st0{fill:#FDC107;}
						.st1{fill:#020304;}
					g#XMLID_11_
						circle#XMLID_52_.st0(cx='10.9', cy='10.9', r='10.9')
						path#XMLID_51_.st1(d='M0.2,33.2h21.3v10.7h45.6v21.5H0V33.2')
						path#XMLID_50_.st1(d='M67.1,75.9H0v53.5h67.2l0-21.1H21.5V97.5h45.7L67.1,75.9z')
			div.vertical-line
			div.contact-form
				h2 CONTACTANOS
				p  
					a(href='mailto:hola@indicestudio.cl?subject=Tengo%20una%20idea%20y%20deseo%20el%20mejor%20sitio%20web!') hola@indicestudio.cl
				p +56 42 254 1472
				p +56 9 8999 4716
				p Pasaje 14 casa 3 Villa Kennedy Chillán, Chile
				div.redes-sociales

					a(href='https://www.facebook.com/somosindice/' target='_blank')
						svg#facebook-logo(version='1.1', x='0px', y='0px', viewbox='0 0 49.652 49.652',style='enable-background:new 0 0 49.652 49.652;', xml:space='preserve')
							g
								path(d='M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826\
								C49.652,11.137,38.516,0,24.826,0z M31,25.7h-4.039c0,6.453,0,14.396,0,14.396h-5.985c0,0,0-7.866,0-14.396h-2.845v-5.088h2.845\
								v-3.291c0-2.357,1.12-6.04,6.04-6.04l4.435,0.017v4.939c0,0-2.695,0-3.219,0c-0.524,0-1.269,0.262-1.269,1.386v2.99h4.56L31,25.7z\
								')

					a(href='https://twitter.com/indice_studio' target='_blank')
						svg#twitter-logo(version='1.1', x='0px', y='0px', viewbox='0 0 49.652 49.652', style='enable-background:new 0 0 49.652 49.652;', xml:space='preserve')
							g
								path(d='M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826\
								C49.652,11.137,38.516,0,24.826,0z M35.901,19.144c0.011,0.246,0.017,0.494,0.017,0.742c0,7.551-5.746,16.255-16.259,16.255\
								c-3.227,0-6.231-0.943-8.759-2.565c0.447,0.053,0.902,0.08,1.363,0.08c2.678,0,5.141-0.914,7.097-2.446\
								c-2.5-0.046-4.611-1.698-5.338-3.969c0.348,0.066,0.707,0.103,1.074,0.103c0.521,0,1.027-0.068,1.506-0.199\
								c-2.614-0.524-4.583-2.833-4.583-5.603c0-0.024,0-0.049,0.001-0.072c0.77,0.427,1.651,0.685,2.587,0.714\
								c-1.532-1.023-2.541-2.773-2.541-4.755c0-1.048,0.281-2.03,0.773-2.874c2.817,3.458,7.029,5.732,11.777,5.972\
								c-0.098-0.419-0.147-0.854-0.147-1.303c0-3.155,2.558-5.714,5.713-5.714c1.644,0,3.127,0.694,4.171,1.804\
								c1.303-0.256,2.523-0.73,3.63-1.387c-0.43,1.335-1.333,2.454-2.516,3.162c1.157-0.138,2.261-0.444,3.282-0.899\
								C37.987,17.334,37.018,18.341,35.901,19.144z')

					a(href='https://somosindice.tumblr.com' target='_blank')
						svg#Capa_1(version='1.1', x='0px', y='0px', viewbox='0 0 49.652 49.652', style='enable-background:new 0 0 49.652 49.652;', xml:space='preserve')
							g
								path(d='M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826\
						    C49.652,11.137,38.516,0,24.826,0z M33.219,36.659c-1.15,0.542-2.196,0.926-3.134,1.144c-0.936,0.217-1.944,0.328-3.032,0.328\
						    c-1.233,0-1.963-0.156-2.91-0.467c-0.949-0.313-1.758-0.76-2.427-1.333c-0.672-0.577-1.134-1.19-1.393-1.839\
						    c-0.259-0.65-0.389-1.593-0.389-2.828v-9.466h-3.668v-3.824c1.06-0.344,2.289-0.837,3.044-1.48\
						    c0.758-0.645,1.365-1.416,1.82-2.318c0.461-0.899,0.775-2.048,0.948-3.438h3.839v6.241h6.241v4.82h-6.241v6.92\
						    c0,1.565-0.021,2.471,0.146,2.914c0.166,0.44,0.578,0.899,1.027,1.164c0.601,0.358,1.28,0.538,2.049,0.538\
						    c1.367,0,2.728-0.443,4.078-1.332v4.256H33.219L33.219,36.659z')