extends layouts/default
block content
	section#header
		.container
			header
				.main-logo
					svg#Capa_1(version='1.1', x='0px', y='0px', viewbox='0 0 67.1 129.5', style='enable-background:new 0 0 67.1 129.5;', xml:space='preserve')
						circle#XMLID_52_.st0(cx='10.9', cy='10.9', r='10.9')
						g#XMLID_11_
							path#XMLID_51_.st1(d='M0.2,33.2h21.3v10.7h45.6v21.5H0V33.2')
							path#XMLID_50_.st1(d='M67.1,75.9H0v53.5h67.2l0-21.1H21.5V97.5h45.7L67.1,75.9z')
				h1.header-title SOMOS
				h2 
					| &lt; 
					span.header-subtitle
					| &#47; &gt;
						
