extends layouts/default
block content
		section#quien
			.container
				.display-title
					h1
						| EL MUNDO ES TUYO.
						br
						| &lt;
						span TÓMALO
						| &gt;
				.display-paragraph
					p
						| En 
						span indicestudio
						| , nos dedicamos al diseño.
						br
						| 						Aplicamos nuestros conocimientos para potenciar las ideas de nuestros clientes.
						br
						| 						Somos chillanejos, y no tenemos límites.
				button.btn.btn-white 
					a(href='./contact.html') CONTÁCTANOS
