doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(name='description', content='Hola, somos indicestudio, una compañía de marketing digital, diseño web, branding, analítica web, fotografía digital, en fin, todo lo que sea multimedia, y que ayude a tu empresa o negocio, a alcanzar todos sus objetivos.')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Bienvenidos | Somos Indicestudio
		link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
		link(rel='manifest', href='/manifest.json')
		meta(name='msapplication-TileColor', content='#ffffff')
		meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
		meta(name='theme-color', content='#ffffff')
		// Place favicon.ico in the root directory
		// build:css styles/vendor.css
		// bower:css
		// endbower
		// endbuild
		// build:css styles/main.css
		link(rel='stylesheet', href='styles/main.css')
		// endbuild

body
	// p.browserupgrade
			Estas usando un navegar suuuper antiguo. 
			Por favor
			<a href='http://browsehappy.com/'> por tu seguridad te imploramos que actualizes tu navegador
			para mejorar tu experiencia</a>.
	.menu
		.flex-container
			nav#main-nav
				ul
					li#home
						a(href='/')
							svg#home(version='1.1', x='0px', y='0px', viewbox='0 0 486.988 486.988', style='enable-background:new 0 0 486.988 486.988;', xml:space='preserve')
								path(d='M16.822,284.968h39.667v158.667c0,9.35,7.65,17,17,17h116.167c9.35,0,17-7.65,17-17V327.468h70.833v116.167\
								c0,9.35,7.65,17,17,17h110.5c9.35,0,17-7.65,17-17V284.968h48.167c6.8,0,13.033-4.25,15.583-10.483\
								c2.55-6.233,1.133-13.6-3.683-18.417L260.489,31.385c-6.517-6.517-17.283-6.8-23.8-0.283L5.206,255.785\
								c-5.1,4.817-6.517,12.183-3.967,18.7C3.789,281.001,10.022,284.968,16.822,284.968z M248.022,67.368l181.333,183.6h-24.367\
								c-9.35,0-17,7.65-17,17v158.667h-76.5V310.468c0-9.35-7.65-17-17-17H189.656c-9.35,0-17,7.65-17,17v116.167H90.489V267.968\
								c0-9.35-7.65-17-17-17H58.756L248.022,67.368z')
					li.inner-menu
						a(href='./quien.html') ¿Quién?
							div.inner-menu-subtxt Somos 
								span.text-accent indicestudio.
					li.inner-menu
						a(href='./que.html') ¿Qué?
							div.inner-menu-subtxt Construímos 
								span.text-accent soluciones digitales.
					li.inner-menu
						a(href='./porque.html') ¿Por qué?
							div.inner-menu-subtxt Creemos en una 
								span.text-accent sociedad más expresiva.
					li.inner-menu
						a(href='./como.html') ¿Cómo?
							div.inner-menu-subtxt Empatizamos con 
								span.text-accent el cliente y sus sueños.
					li.inner-menu.callout
						a(href='./contact.html') ¿Dónde?
							div.inner-menu-subtxt Comunícate con 
								span.text-accent nosotros.

			aside#info-nav
				.logo-container
					.main-logo
						svg#Capa_1(version='1.1', x='0px', y='0px', viewbox='0 0 67.1 129.5', style='enable-background:new 0 0 67.1 129.5;', xml:space='preserve')
							style(type='text/css').
								.st0{fill:#00a96b;}
								.st1{fill:#020304;}
							circle#XMLID_52_.st0(cx='10.9', cy='10.9', r='10.9')
							g#XMLID_11_
								path#XMLID_51_.st1(d='M0.2,33.2h21.3v10.7h45.6v21.5H0V33.2')
								path#XMLID_50_.st1(d='M67.1,75.9H0v53.5h67.2l0-21.1H21.5V97.5h45.7L67.1,75.9z')

				.contact-info
					p
						span.contact-accent Villa Kennedy
						br
						|	Psje 14 casa 3
						br
						| 			Chillán.
						div.contact-divisor -------------
					p
						span.contact-accent No perdamos contacto
						br
						| 			hola@indicestudio.cl
						br
						| 			+56 9 8999 4716
						br
						| 			+56 9 5612 1073
						div.contact-divisor -------------
					p
						span.contact-accent Indicestudio LTDA.
						br
						| 			Chile.

	.menu-button
		.menu-line
		.menu-line
		.menu-line
	block content


	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-68648854-2', 'auto');
		ga('send', 'pageview');

	// build:js scripts/vendor.js
	// bower:js
	script(src='/bower_components/jquery/dist/jquery.js')
	// endbower
	// endbuild
	// build:js scripts/main.js
	script(src='scripts/typed.js')
	script(src='scripts/scrollreveal.min.js')
	script(src='scripts/game.js')
	script(src='scripts/rAF.js')
	script(src='scripts/header_anim.js')
	script(src='scripts/main.js')
	// endbuild